@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0F4BAD;
  --secondary: #FA5B46;
  --error: #EA3434;
  --success: #00BA88;
  --warning: #F4B740;

  /* GRAYSCALE */
  --titleActive: #14142B;
  --body: #4E4B66;
  --label: #6E7191;
  --placeholder: #A0A3BD;
  --line: #D9DBE9;
  --inputBackground: #EFF0F7;
  --background: #F7F7FC;
  --offWhite: #FCFCFC;
}

#landing-page {
  font-feature-settings: "tnum";
  background-color: #fff;
  color: #000000d9;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  margin: 0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  margin-top: 0;
}
p {
  margin-bottom: 1em;
  margin-top: 0;
}

@layer base {
  html {
    font-family: Poppins, Inter;
  }
}

/*
  custom web browser scroll 
  use [.custom-scroll] class on any component
*/
.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scroll::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #0F4BAD;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  border: 22px solid rgba(0, 0, 0, 0.3);
  ;
  border-radius: 6px;
}

.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}